/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.header-left h1,
.header-left h2 {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  display: inline-flex;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-right .icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Content Section */
.content {
  display: flex;
  padding: 20px;
}

/* Left Section */
.left-section {
  width: 40%;
  margin-left: 80px;
}

.left-section h2,p {
  font-size: 20px;
}

.profile-pic {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 20px;
}


.crypto-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bit-icon, .ck-icon {
  margin-right: 10px;
  width: 30px;
}


/* Right Section */
.right-section {
  width: 60%;
}

.main-dashboard h2 {
  font-size: 40px;
}

.exchange-history {
  margin-top: 30px;
}

.exchange-history h3 {
 font-size: 30px;
 margin-bottom: 20px;
}

.exchange-item {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
  text-align: center;
  border-style: solid;
  border-radius: 13px;
  height: 400px;
}

.exchange-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.exchange-item p {
  font-size: 20px;
}

/* Reward Section */
.reward-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.reward-section h3 {
  font-size: 30px;
}

.rewards {
  display: flex;
  flex-wrap: wrap;
}

.reward-item {
  width: 18%;
  margin: 10px;
  text-align: center;
}

.reward-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.reward-item p {
  margin-top: 5px;
}

#button {
  
}
