/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: Monospace;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.header-left h1,
.header-left h2 {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  display: inline-flex;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-right .icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Content Section */
.content {
  display: flex;
  justify-items: auto;
  
}

/* Left Section */
.left-section {
  width: 20%;
  margin: 60px;
  margin-top: 50px;
  flex-grow: 2;
}

#profile-name {
  font-size: 2.5em;
  margin-top: 10px;
}

#email{
  margin: 10px 0 20px;
}

.left-section h2,p {
  font-size: 160%;
}

.profile-pic {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.crypto-row  {
  display: flex;
  align-items: center;
  
}

.bit-icon, .ck-icon {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 30px;
}


/* Right Section */
.right-section {
  width: 60%;
  margin-left: 20px;
  flex-grow: 7;
}

.main-dashboard h2 {
  font-size: 40px;
}

.exchange-history {
  margin-top: 30px;
}

.exchange-history h3 {
 font-size: 30px;
 margin-bottom: 20px;
}

.exchange-item {
  display: inline-block;
  width: 30%;
  flex-grow: 1;
  text-align: center;
  border-style: solid;
  border-radius: 13px;
  height: 400px;
}

.exchange-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.exchange-item p {
  font-size: 20px;
}

/* Reward Section */
.reward-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.reward-section h3 {
  font-size: 30px;
}

.rewards {
  display: flex;
  flex-wrap: wrap;
}

.reward-item {
  width: 18%;
  margin: 10px;
  text-align: center;
}

.reward-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.reward-item p {
  margin-top: 5px;
}

.number-reward {
  font-weight: bold;
}

#button {
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  height: 30px;
  background-color: white;
  border-radius: 100px;
  border-width: 1px;
}
